/*header*/

.header {
    position: sticky;
    top: -120px;
    left: 0;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 100;
    width: auto;
}

.headerUps {
    display: block;
    width: 100%;
    justify-content: space-between;
}

.headerUp {
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: sticky;
}



.headerUp h1 {
    padding: 0 10px;
}

.logos {
    flex-grow: 7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerUpImg {
    width: 60px;
    height: 60px;
    padding: 10px;
    color: #F788A2;
}

.sign {
    display: flex;
    margin-right: 20px;
    bottom:auto;
    flex-grow: 4;
    justify-content: flex-end;
    align-items: center;
}

.sign button {
    font-size: 20px;
    background-color: unset;
    color: #76B8DE;
    border-color: green;
    padding: 10px 15px;
    border: 1px solid #76B8DE;
    border-radius: 5px;
    margin: 0 10px;
    opacity: 0.7;
}

.sign button:hover {
    color: rgb(8, 163, 8);
    border-color: rgb(8, 163, 8);
    transition: all 0.3s;
    transform: scale(1.1);
    cursor: pointer;
    opacity: 0.9;
}

.hrTop {
    margin: 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #333;
    width: 100%;
}

.headerMenus {
    display: block;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid rgb(134, 130, 130);
}

.headerMenu {
    align-items: center;
    justify-content: center;
    position: sticky;
    color: white;
}

.headerMenuNav {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerMenuNav li {
    padding: 0 40px;
    font-size: 20px;
}

.headerMenuNav li:hover {
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(1.1);
}

.headerBurger {
    flex-grow: 3;
    justify-content: flex-end;
    display: none;
}

.headerBurger img {
    width: 36px;
    border: 1px gray dotted;
    padding: 4px;
    margin-right: 20px;
    border-radius: 5px;
    display: none;
}

.burgerMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
    overflow-y: scroll;
    background-color: rgb(0, 0, 0);
    transition: 1s ease-in-out;
}

.BurgerNav {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-left: 0;
}

.BurgerNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.BurgerNav li {
    font-size: 40px;
    padding: 10px;
}

.burgerSign {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.burgerSign button {
    background-color: unset;
    font-size: 30px;
    width: 100%;
    padding: 15px 5px;
    margin: 10px auto;
}

.burCross {
    margin: 0px;
    padding: 10px;
    width: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
}

.d-none {
    display: none;
}

.w-0 {
    width: 0;
}

@media (max-width: 1420px) {
    .sign {
        left: 60%;
    }

    .headerUpImg {
        width: 50px;
        height: 50px;
        padding: 7px;
    }

    .headerUp h1 {
        padding: 0 7px;
        font-size: 30px;
    }
}

@media (min-width: 0) and (max-width: 700px) {
    .header {
        width: 100%;
        position: sticky;
        top: 0;
    }

    .headerUp {
        height: auto;
    }

    .logos {
        justify-content: flex-end;
        flex-grow: 6;
    }

    .sign, .headerMenus, .headerMenu, .headerMenuNav, .hmnli {
        display: none;
        height: 0;
    }

    .headerBurger, .headerBurger img {
        display:flex;
    }
}

@media (max-width: 460px) {
    .BurgerNav a {
        font-size: 30px;
    }

    .burgerSign button {
        font-size: 20px;
    }
}

@media (max-width: 380px) {
    .headerUpImg {
        width: 30px;
        height: 30px;
        padding: 5px;
    }

    .headerUp h1 {
        padding: 0 7px;
        font-size: 20px;
    }
    
    .headerBurger img {
        width: 20px;
        border: 1px gray dotted;
        padding: 3px;
        margin-right: 20px;
        border-radius: 5px;
    }
}